[user]
	name = joshuafbadams
	email = josh.f.b.adams@gmail.com
[core]
	autocrlf = input
	safecrlf = true
	editor = /usr/bin/vim
[achievement]
	upload = true
[color]
	ui = auto
[hooks]
	global = /Users/joshuafbadams/git-hooks/contrib/
